{% extends "layout.html" %}
 
{% block content %}
  <h2></h2>
  <form action="{{ url_for('serve') }}" method=post id="sentiment">
    {{ form.hidden_tag() }}
    <img src={{ image | safe }}>
    <img src={{ secondary | safe }}>
 <ul id="captcha">
    <li>{{ form.word.label }}</li>
    <li>{{ form.word}}</li>
 
    <li><p> Choose a sentiment for the sentence. </p></li>
    <fieldset id="inline">
         <input id="pos" name="sec_ans" type="submit" value="Positive"> </li>
         <input id="neg" name="sec_ans" type="submit" value="Negative"> </li>
         <input id="neut" name="sec_ans" type="submit" value="Neutral"> </li>
    </fieldset>  
  </ul>
</form>
{% endblock %} 
