<!DOCTYPE html>
<html>
  <head>
    <title>nuCAPTCHA</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- Really hacked way of disabling enter key :( -->
    <script type="text/javascript"> 
    function stopRKey(evt) { 
      var evt = (evt) ? evt : ((event) ? event : null); 
      var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
      if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
    } 
    document.onkeypress = stopRKey; 
    </script>    
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">nuCAPTCHA</h1>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>